{% extends 'base.html' %}
{% block content %}
<head>
  <title>TechUp</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<div class="container">
    <div  class="row">
        <div  class="col l12">
            <h1>Contact form</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
            <button class="btn btn-secondary" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
