{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="class=card text-white bg-dark my-3">
    <div class="card-body">
        <p class="card-text">Hey,if you're here,you can open link.</p>
        <p class="card-text">Good luck!</p>
        <a href="https://github.com/farafonovbogdan"class="btn btn-secondary">GitHub</a>
    </div>
</div>
</div>

{% endblock sidebar %}
